<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upload CSV</title>
</head>
<body>

    <div style="width: 50%; border: solid 1px black; margin: auto; padding: 20px;">
        <p>Selecione um arquivo CSV para importar</p>
        <form action="{% url 'import_csv' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_table }}
             <input type="submit" value="Upload" />
        </form>
    </div>

</body>
</html>